In [63]:
import pandas as pd
import csv
import path
import os

In [64]:
#pulled file 1
file = "Resources/schools_complete.csv"
schools_complete_df = pd.read_csv(file)
schools_complete_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [65]:
#pulled file 2
file2 = "Resources/students_complete.csv"
students_complete_df = pd.read_csv(file2)
students_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [66]:
# created merge dataframe
merge_students_schools_df = pd.merge(schools_complete_df, students_complete_df, on="school_name")
merge_students_schools_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [67]:
merge_students_schools_df.count()

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [83]:
merge_students_schools_df.dtypes

School ID         int64
school_name      object
type             object
size              int64
budget            int64
Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
dtype: object

In [85]:
#defined total schools
Total_Schools = len(merge_students_schools_df['school_name'].unique()
Total_Schools

15

In [96]:
school_name_df = schools_complete_df[["school_name", "type"]]
Type_schools = school_name_df.set_index(["school_name"])["type"]
Type_schools

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
#Total Students
Total_Students = merge_students_schools_df['student_name'].count()
Total_Students

39170

In [14]:
#Total Budget
Total_Budget = sum(merge_students_schools_df["budget"])
Total_Budget

82932329558

In [31]:
#Average math score
Average_Math_Score =round(merge_students_schools_df["math_score"].mean(), 2)
Average_Math_Score

78.99

In [32]:
#average reading score
Average_Reading_Score = round(merge_students_schools_df["reading_score"].mean(),2)
Average_Reading_Score

81.88

In [17]:
merge_students_schools_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [18]:
passing_math = merge_students_schools_df[merge_students_schools_df["math_score"] >= 60].count()
passing_count = passing_math["student_name"]
passing_count

36211

In [33]:
#percentage of students with passing math = number with passing grade/total number of students *100
percentage_of_passing_grade = round((passing_count / Total_Students)*100, 2)
percentage_of_passing_grade

92.45

In [35]:
Per_student_budget = round((Total_Budget/Total_Students)*100, 2)
Per_student_budget

211724098.95

In [21]:
#percentage pass Reading
passing_read = merge_students_schools_df[merge_students_schools_df["reading_score"] >= 60].count()
passing_count2 = passing_read["student_name"]
passing_count2

39170

In [22]:
#percentage overall passing math and reading
percentage_of_passing_read = (passing_count2 / Total_Students)*100
percentage_of_passing_read

100.0

In [23]:
passing_both = merge_students_schools_df[(merge_students_schools_df["math_score"] >= 60) | (
                merge_students_schools_df["reading_score"] >= 60)].count()
passing_both

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [24]:
passing_count3 = passing_both["student_name"]
passing_count3

39170

In [25]:
Total_passing_reading_and_math_df=(passing_count3/Total_Students)*100
Total_passing_reading_and_math_df

100.0

In [97]:
#create summary dataframe (table)
School_District_Summary = pd.DataFrame({"Total Schools": [Total_Schools],
                                       "Total Students": [Total_Students],
                                       "Total School Budget": [Total_Budget],
                                       "Per Student Budget": [Per_student_budget],
                                       "Average Math Score": [Average_Math_Score],
                                       "Average Reading Score": [Average_Reading_Score],
                                       "% Passing Math": [percentage_of_passing_grade],
                                       "% Passing Reading": [percentage_of_passing_read],
                                       "% Passing Reading and Math": [Total_passing_reading_and_math_df]})

School_District_Summary['Total School Budget'] = School_District_Summary['Total School Budget'].map('${:,.0f}'.format)
School_District_Summary['Per Student Budget'] = School_District_Summary['Per Student Budget'].map('${:,.0f}'.format)
School_District_Summary['% Passing Math'] = School_District_Summary['% Passing Math'].map('{:.0f}%'.format)
School_District_Summary['% Passing Reading'] = School_District_Summary['% Passing Reading'].map('{:.0f}%'.format)
School_District_Summary['% Passing Reading and Math'] = School_District_Summary['% Passing Reading and Math'].map('{:.0f}%'.format)

School_District_Summary

,Total Schools,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Reading and Math
0,15,39170,"$82,932,329,558","$211,724,099",78.99,81.88,92%,100%,100%

In [99]:
#number of students per school
per_school_counts = merge_students_schools_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [100]:
#budget per school
school_budgets= merge_students_schools_df.groupby(['school_name']).mean()['budget']
school_budgets

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [120]:
#budget per student by school
per_student_budgets=round((school_budgets/per_school_counts), 2)
per_student_budgets

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [102]:
#average math per school
average_math= merge_students_schools_df.groupby(['school_name']).mean()['math_score']
average_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [103]:
#average reading per school
average_reading= merge_students_schools_df.groupby(['school_name']).mean()['reading_score']
average_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [105]:
# of students passing math score above 60
school_passing_math = merge_students_schools_df[merge_students_schools_df["math_score"] >= 60].groupby("school_name").count()["student_name"]
school_passing_math

school_name
Bailey High School       4351
Cabrera High School      1858
Figueroa High School     2549
Ford High School         2389
Griffin High School      1468
Hernandez High School    4007
Holden High School        427
Huang High School        2533
Johnson High School      4128
Pena High School          962
Rodriguez High School    3457
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [109]:
# of students with passing grade above 60
school_passing_reading =  merge_students_schools_df[merge_students_schools_df["reading_score"] >= 60].groupby("school_name").count()["student_name"]
school_passing_reading

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [106]:
percent_passing_math= round((school_passing_math/per_school_counts)*100, 2)
percent_passing_math

Bailey High School        87.44
Cabrera High School      100.00
Figueroa High School      86.44
Ford High School          87.22
Griffin High School      100.00
Hernandez High School     86.45
Holden High School       100.00
Huang High School         86.84
Johnson High School       86.70
Pena High School         100.00
Rodriguez High School     86.45
Shelton High School      100.00
Thomas High School       100.00
Wilson High School       100.00
Wright High School       100.00
dtype: float64

In [ ]:
#percent passing reading
percent_passing_reading= round((school_passing_reading/per_school_counts)*100, 2)
percent_passing_reading

In [107]:
#overall passing rate per school
overall_passing_rate= round((percent_passing_reading+percent_passing_math)/2, 2)
overall_passing_rate

Bailey High School        93.72
Cabrera High School      100.00
Figueroa High School      93.22
Ford High School          93.61
Griffin High School      100.00
Hernandez High School     93.22
Holden High School       100.00
Huang High School         93.42
Johnson High School       93.35
Pena High School         100.00
Rodriguez High School     93.22
Shelton High School      100.00
Thomas High School       100.00
Wilson High School       100.00
Wright High School       100.00
dtype: float64

In [125]:
#complete summary by school
School_Summary_df = pd.DataFrame({"School Type": [Type_Schools],
                               "Total Students": [per_school_counts],
                              "Total School Budget": [school_budgets],
                              "Per Student Budget": [per_student_budgets],
                              "Average Math Score": [average_math],
                              "Average Reading Score": [average_reading],
                              "% Passing Math": [percent_passing_math],
                              "% Passing Reading": [percent_passing_reading],
                              "Overall Passing Rate": [overall_passing_rate]})

School_Summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 87.44 Cabrera High S...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 93.72 Cabrera High S...

In [130]:
#Top five Schools
Top_Five_Schools = School_Summary_df.sort_values(["Overall Passing Rate"], ascending = False)
Top_Five_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 87.44 Cabrera High S...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 93.72 Cabrera High S...

In [131]:
#Bottom Five Schools
Bottom_Five_Schools = School_Summary_df.sort_values(["Overall Passing Rate"], ascending = True)
Bottom_Five_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,type school_name ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 87.44 Cabrera High S...,Bailey High School 100.0 Cabrera High Sc...,Bailey High School 93.72 Cabrera High S...

In [133]:
# nineth grade scores
nineth_grade_score_math = merge_students_schools_df[merge_students_schools_df["grade"] == "9th"].groupby("school_name").mean()["math_score"]
nineth_grade_score_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [135]:
#10th grade scores
tenth_grade_score_math =merge_students_schools_df[merge_students_schools_df["grade"] == "10th"].groupby("school_name").mean()["math_score"]
tenth_grade_score_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [136]:
#11th grade scores

eleventh_grade_score_math =merge_students_schools_df[merge_students_schools_df["grade"] == "11th"].groupby("school_name").mean()["math_score"]
eleventh_grade_score_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [137]:
#twelveth grade scores
twelveth_grade_score_math =merge_students_schools_df[merge_students_schools_df["grade"] == "12th"].groupby("school_name").mean()["math_score"]
twelveth_grade_score_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [139]:
#create data frame for each school by grade
grade_math_summary = pd.DataFrame({"9th Grade Math Average": nineth_grade_score_math,
                               "10th Grade Math Average":tenth_grade_score_math,
                              "11th Grade Math Average": eleventh_grade_score_math,
                              "12th Grade Math Average": twelveth_grade_score_math,})
grade_math_summary

,9th Grade Math Average,10th Grade Math Average,11th Grade Math Average,12th Grade Math Average
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986