In [2]:
import pandas as pd
import csv
import path
import os

In [3]:
#pulled file 1
file = "Resources/schools_complete.csv"
schools_complete_df = pd.read_csv(file)
schools_complete_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
#pulled file 2
file2 = "Resources/students_complete.csv"
students_complete_df = pd.read_csv(file2)
students_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# created merge dataframe
merge_students_schools_df = pd.merge(schools_complete_df, students_complete_df, on="school_name")
merge_students_schools_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [6]:
merge_students_schools_df.count()

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [19]:
merge_students_schools_df.dtypes

School ID         int64
school_name      object
type             object
size              int64
budget            int64
Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
dtype: object

In [7]:
#defined total schools
Total_Schools = len(merge_students_schools_df['school_name'].unique())
Total_Schools

15

In [8]:
#Total Students
Total_Students = merge_students_schools_df['student_name'].count()
Total_Students

39170

In [9]:
#Total Budget
Total_Budget = sum(merge_students_schools_df["budget"])
Total_Budget

82932329558

In [10]:
#Average math score
Average_Math_Score = merge_students_schools_df["math_score"].mean()
Average_Math_Score

78.98537145774827

In [11]:
#average reading score
Average_Reading_Score = merge_students_schools_df["reading_score"].mean()
Average_Math_Score

78.98537145774827

In [12]:
merge_students_schools_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [25]:
passing_math = merge_students_schools_df[merge_students_schools_df["math_score"] >= 60].count()
passing_count = passing_math["student_name"]
passing_count

36211

In [26]:
#percentage of students with passing math = number with passing grade/total number of students *100
percentage_of_passing_grade = (passing_count / Total_Students)*100
percentage_of_passing_grade

92.4457492979321

In [29]:
#percentage pass Reading
passing_read = merge_students_schools_df[merge_students_schools_df["reading_score"] >= 60].count()
passing_count2 = passing_read["student_name"]
passing_count2

39170

In [30]:
#percentage overall passing math and reading
percentage_of_passing_read = (passing_count2 / Total_Students)*100
percentage_of_passing_read

100.0

In [33]:
passing_both = merge_students_schools_df[(merge_students_schools_df["math_score"] >= 60) | (
                merge_students_schools_df["reading_score"] >= 60)].count()
passing_both

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [35]:
passing_count3 = passing_both["student_name"]
passing_count3

39170

In [36]:
Total_passing_reading_and_math_df=(passing_count3/Total_Students)*100
Total_passing_reading_and_math_df

100.0

In [ ]:
#create summary dataframe (table)
School_District_Summary = pd.DataFrame({"School Name": [school_name],
                                       "School Type": [type],
                                       "Total Students": [total_students],
                                       "Total School Budget": [Total_Budget],
                                       "Per Student Budget": [],
                                       "Average Math Score": [Average_Math_Score],
                                       "Average Reading Score:"})